footer {
  background-color: aliceblue;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  .to-do-count {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
  }

  .clear-completed {
    text-align: center;
    background-color: rgb(236, 104, 104);
    margin: 0% 0px 15px 0px;
    padding: 6px;
    font-size: small;
    font-weight: bold;
    color: #213547;
  }
}
